<div><!--a>
        <picture class="d-block atm-picture article__img hide-alt-text">
            <source type="image/webp"
                srcset="https://github.com/tereza-tech/angular-test/blob/main/src/app/assets/intro-speaker.webp">
            <source type="image/jpeg"
                srcset="https://d39-a.sdn.cz/d_39/c_img_QK_i/af8Vn/profimedia-0661586429.jpeg?fl=cro%2C0%2C0%2C1800%2C1013%7Cres%2C190%2C%2C3%7Cjpg%2C70 190w, https://d39-a.sdn.cz/d_39/c_img_QK_i/af8Vn/profimedia-0661586429.jpeg?fl=cro%2C0%2C0%2C1800%2C1013%7Cres%2C290%2C%2C3%7Cjpg%2C70 290w, https://d39-a.sdn.cz/d_39/c_img_QK_i/af8Vn/profimedia-0661586429.jpeg?fl=cro%2C0%2C0%2C1800%2C1013%7Cres%2C390%2C%2C3%7Cjpg%2C70 390w, https://d39-a.sdn.cz/d_39/c_img_QK_i/af8Vn/profimedia-0661586429.jpeg?fl=cro%2C0%2C0%2C1800%2C1013%7Cres%2C580%2C%2C3%7Cjpg%2C70 580w">
            <img class="d-block atm-picture__img atm-picture__img--loaded"
                alt="Pokud Rusko napadne Ukrajinu, přijde rychlá odpověď, varoval Biden&nbsp;Putina"
                src="https://ufile.io/bq4i5lms">
        </picture>
    </a-->
    <img src="https://github.com/tereza-tech/angular-test/blob/main/src/app/assets/intro.png">
    <div class="article__text-box">
        <h3>
            Header
        </h3>
        <div>Text</div>
    </div>
</div>